name: Build

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'

      - name: Install cavarage tool
        run: go get golang.org/x/tools/cmd/cover

      - name: Install Encore
        run: |
          curl -L https://encore.dev/install.sh | bash

      - name: Build
        run: /home/runner/.encore/bin/encore build docker thinkport-api:latest

      - name: Test
        run: /home/runner/.encore/bin/encore test
        # run: go test -race -covermode=atomic -coverprofile coverage.out -v ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: vergissberlin/thinkport-api
          file: coverage.out
